@using OnlineShop.Service.ViewModels
@model List<AnnouncementViewModel>
@{
    Layout = "_AdminLayout.cshtml";
}

<tr></tr>
<table class="table align-middle" style="margin: 30px 30px 30px 30px; width:96%;">
    <thead>
        <tr>
            <th scope="col">N</th>
            <th scope="col">Ism</th>
            <th scope="col">Nomi</th>
            <th scope="col">Qo'shish</th>
            <th scope="col">O'chirish</th>
        </tr>
    </thead>
    <tbody>
    @{
        int count = 1;
        foreach (var prduct in Model)
        {
               
                    <tr>
                        <th scope="row">count</th>
                        <td>@prduct.UserName</td>
                        <td>@prduct.Title</td>
                        <td>
                            <a asp-controller="admin" asp-action="add" asp-route-id="@prduct.Id" type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                    <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                             <a asp-controller="admin" asp-action="remove" asp-route-id="@prduct.Id" type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
            count++;
        }
    }
    </tbody>
</table>
@*<div class="d-flex flex-row">
    @{
        foreach (var product in Model)
        {
                <div class="row-cols-2">
                    <img class="w-300px h-300px mb-3 card-rounded" src="~/@product.ImagePath" alt="@product.Title" />
                </div>
                <div class="row-cols-2 mx-10 bg-white pt-5 px-10 pb-10 pe-10">
                    <label class="fa fa-genderless fs-3 me-3">Name</label>
                    <table class="table mb-3">
                        <thead>
                            <tr class="border-bottom fs-6 fw-bolder text-gray-400">
                                <th class="min-w-175px pb-2"><span class="badge badge-light-success mx-2">*</span></th>
                                <th class="min-w-100px text-end pb-2">Quantity</th>
                                <th class="min-w-60px text-end pb-2">Unitx</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center pt-6">
                                    <i class="fa fa-genderless text-danger fs-2 me-2"></i>Weight :
                                </td>
                                <td class="pt-6 text-dark fw-boldest">
                                    Weight
                                </td>
                                <td><span class="badge badge-light-success mx-2">m3</span></td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center">
                                    <i class="fa fa-genderless text-success fs-2 me-2"></i>Size :
                                </td>
                                <td class="fs-5 text-dark fw-boldest">
                                    Size
                                </td>
                                <td><span class="badge badge-light-success mx-2">t</span></td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center">
                                    <i class="fa fa-genderless text-primary fs-2 me-2"></i>Price :
                                </td>
                                <td class="fs-5 text-dark fw-boldest">
                                    Price
                                </td>
                                <td><span class="badge badge-light-success mx-2">uzs</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a asp-controller="orders" asp-action="update" asp-route-orderId="1" class="btn btn-light-primary" role="dialog">Update</a>
            <div>
                <a class="btn btn-light-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_1" role="dialog">Delete</a>
                <div class="modal fade" tabindex="-1" id="kt_modal_1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Delete order</h3>

                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="svg-icon svg-icon-1"></span>
                                </div>
                                <!--end::Close-->
                            </div>

                            <div class="modal-body">
                                <p>Do you want to delete "model" ?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <a asp-controller="orders" asp-action="Delete" asp-route-deleteOrderId="Id">
                                    <button type="button" class="btn btn-light-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    }
</div>*@


@*<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                foreach (var product in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/@product.ImagePath" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@product.Title</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $@product.Price so'm
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="admin" asp-action="add" asp-route-id="@product.Id">Add</a></div>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="admin" asp-action="remove" asp-route-id="@product.Id">Remove</a></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>*@



@*  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Progress</th>
                <th>Sales</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>John Doe</td>
                <td>                                                    
                    <div class="progress br-30">
                        <div class="progress-bar br-30 bg-primary" role="progressbar" style="width: 29.56%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td><p class="text-danger">29.56%</p></td>
                <td class="text-center">
                    <ul class="table-controls">
                        <li><a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg> ... </svg></a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg> ... </svg></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Andy King</td>
                <td>                                                    
                    <div class="progress br-30">
                        <div class="progress-bar br-30 bg-warning" role="progressbar" style="width: 19.15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td><p class="text-danger">19.15%</p></td>
                <td class="text-center">
                    <ul class="table-controls">
                        <li><a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg> ... </svg></a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg> ... </svg></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center">3</td>
                <td>Lisa Doe</td>
                <td>                                                    
                    <div class="progress br-30">
                        <div class="progress-bar br-30 bg-success" role="progressbar" style="width: 39.00%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td><p class="text-danger">39.00%</p></td>
                <td class="text-center">
                    <ul class="table-controls">
                        <li><a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg> ... </svg></a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg> ... </svg></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="text-center">4</td>
                <td>Vincent Carpenter</td>
                <td>                                                    
                    <div class="progress br-30">
                        <div class="progress-bar br-30 bg-secondary" role="progressbar" style="width: 88.03%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td><p class="text-success">88.03%</p></td>
                <td class="text-center">
                    <ul class="table-controls">
                        <li><a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg> ... </svg></a></li>
                        <li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg> ... </svg></a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>*@