@using OnlineShop.Service.Services.Common.PaginationServices
@using OnlineShop.Service.ViewModels

@model PageList<UserViewModel>
@{
    Layout = "_AdminLayout.cshtml";
}


@{
    if (Model.Count < 20)
    {
        
        <div style="height: 1000px">
        <table class="table align-middle" style="margin: 30px 30px 30px 30px; width:96%;">
            <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Ism</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon raqam</th>
                    <th scope="col">Reklamalar soni</th>
                    <th scope="col">O'chirish</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    foreach (var prduct in Model)
                    {

                        <tr>
                            <th scope="row">@count</th>
                            <td>@prduct.FullName</td>
                            <td>@prduct.Email</td>
                            <td>@prduct.PhoneNumber</td>
                            <td>@prduct.CountPost</td>
                            <td>
                                <a asp-controller="admin" asp-action="removePostUser" asp-route-id="@prduct.Id"  class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                    <svg style="margin-left:30px" xmlns="http://www.w3.org/2000/svg" width="16"  height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
        </div>
       
    }
    else
    { 
            <tr></tr>
        <table class="table align-middle" style="margin: 30px 30px 30px 30px; width:96%;">
            <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Ism</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon raqam</th>
                    <th scope="col">Reklamalar soni</th>
                    <th scope="col">O'chirish</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    foreach (var prduct in Model)
                    {

                        <tr>
                            <th scope="row">@count</th>
                            <td>@prduct.FullName</td>
                            <td>@prduct.Email</td>
                            <td>@prduct.PhoneNumber</td>
                            <td>@prduct.CountPost</td>
                            <td>
                                <a asp-controller="admin" asp-action="removePostUser" asp-route-id="@prduct.Id"  class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    }

    <div class="container" >
        <section class="products" >
            <div class="products_block" >
                <div class="pagination">
                    <nav>
                        <ul>
                            @{

                                if (Model.MetaData.CurrentPage == 1)
                                {
                                    <li class="active"><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="1">1</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="2">2</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="3">3</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="4">4</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="5">5</a></li>
                                }
                                else if (Model.MetaData.CurrentPage == 2)
                                {
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="1">1</a></li>
                                    <li><a class="active" style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="2">2</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="3">3</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="4">4</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="5">5</a></li>
                                }
                                else if (Model.MetaData.CurrentPage == 3)
                                {
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="1">1</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="2">2</a></li>
                                    <li><a class="active" style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="3">3</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="4">4</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="5">5</a></li>
                                }
                                else if (Model.MetaData.CurrentPage == 4)
                                {
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="1">1</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="2">2</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="3">3</a></li>
                                    <li><a class="active" style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="4">4</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="5">5</a></li>
                                }
                                else if (Model.MetaData.CurrentPage == 5)
                                {
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="1">1</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="2">2</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="3">3</a></li>
                                    <li><a style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="4">4</a></li>
                                    <li><a class="active" style="position: relative;" asp-controller="admin" asp-action="userList" asp-route-page="5">5</a></li>
                                }

                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>
}

