@using OnlineShop.Service.Services.Common.PaginationServices;
@using OnlineShop.Service.ViewModels;
@model PageList<AnnouncementViewModel>
@{
	Layout = "../Home/Index.cshtml";
}

@{
	if (Model.MetaData.TotalItems <= 5)
	{
		<div class="row g-10 row row-cols-1 row-cols-md-2" style="display: flex;justify-content:center; margin:-80px 32px 32px 32px">

			<div class="products sale" style="height: 1000px">
				<div class="products_body">
					@{
						foreach (var product in Model)
						{
							<div class="product_item mb-2 "  style="margin: 15px 0px 0px 0px; height:420px;  border-radius:5px;">
								<div class="product_image">
									<a asp-controller="announcement" asp-action="announcementId" asp-route-productId="@product.Id">
										<img src="~/@product.ImagePath" width="100%"; height="240px" alt="product" style="border-radius:5px;">
									</a>
								</div>
								<div class="product_name">
									<a href="#">@product.Title</a>
								</div>
								<div class="product_name">
									<div class="product_name" style="font-size:15px; color:cadetblue; margin-top:-10px">@product.CreateAt</div>
									<div class="old_price">
									</div>
								</div>
								<div class="product_action">
									<div class="product_cart">
										<div class="product_price" style="margin-top:20px">@product.Price so'm</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="row g-10 row row-cols-1 row-cols-md-2" style="display: flex;justify-content:center; margin:-80px 32px 32px 32px">

			<div class="products sale">
				<div class="products_body">
					@{
						foreach (var product in Model)
						{
							<div class="product_item mb-2 " style="margin: 15px 0px 0px 0px; height:420px;  border-radius:5px;">
								<div class="product_image">
									<a asp-controller="announcement" asp-action="announcementId" asp-route-productId="@product.Id">
										<img src="~/@product.ImagePath" width="100%" ; height="240px" alt="product" style="border-radius:5px;">
									</a>
								</div>
								<div class="product_name">
									<a href="#">@product.Title</a>
								</div>
								<div class="product_name">
									<div class="product_name" style="font-size:15px; color:cadetblue; margin-top:-10px">@product.CreateAt</div>
									<div class="old_price">
									</div>
								</div>
								<div class="product_action">
									<div class="product_cart">
										<div class="product_price" style="margin-top:20px">@product.Price so'm</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	}
}
<div class="container" style="margin-top: 320px; margin-bottom: -420px">
	<section class="products">
		<div class="products_block">
			<div class="pagination" style="margin-top:-220px">
				<nav>
					<ul>
						@{
							if (Model.MetaData.CurrentPage == 1)
							{
								<li class="active"><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="1">1</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="2">2</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="3">3</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="4">4</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="5">5</a></li>
							}
							else if (Model.MetaData.CurrentPage == 2)
							{
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="1">1</a></li>
								<li><a class="active" style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="2">2</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="3">3</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="4">4</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="5">5</a></li>
							}
							else if (Model.MetaData.CurrentPage == 3)
							{
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="1">1</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="2">2</a></li>
								<li><a class="active" style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="3">3</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="4">4</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="5">5</a></li>
							}
							else if (Model.MetaData.CurrentPage == 4)
							{
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="1">1</a></li>
								<li><a  style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="2">2</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="3">3</a></li>
								<li><a class="active"  style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="4">4</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="5">5</a></li>
							}
							else if (Model.MetaData.CurrentPage == 5)
							{
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="1">1</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="2">2</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="3">3</a></li>
								<li><a style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="4">4</a></li>
								<li><a class="active" style="position: relative;" asp-controller="announcement" asp-action="category" asp-route-number="@GlobalVariables.CategoryId" asp-route-page="5">5</a></li>
							}
						}
					</ul>
				</nav>
			</div>
		</div>
	</section>
</div>
